.chart_wrapper {
  display: flex;
  align-items: flex-end;
}
.left_axis_wrapper {
  position: relative;
}
.left_axis_wrapper > p {
  transform: rotate(-90deg);
  position: absolute;
  width: 200px;
  top: -130px;
  left: -115px;
  font-family: sans-serif;
  font-size: 12px;
}
.bottom_axis_wrapper {
  margin-left: 10px;
  margin-top: 5px;
  font-family: sans-serif;
  font-size: 12px;
}
.chart_container {
  width: 400px;
  height: 400px;
  border: 2px solid #696969;
  position: relative;
}
.chart_container > .chart_row {
  width: 100%;
  height: 50%;
  display: flex;
}
.chart_row:first-child {
  border-bottom: 2px solid #e3e4e7;
}
.chart_row > div {
  position: relative;
  width: 50%;
  height: 100%;
}
.chart_row > div:first-child {
  border-right: 2px solid #e3e4e7;
}

.chart_row > div > p {
  font-family: sans-serif;
  font-size: 12px;
  background-color: #adb9c3;
  color: white;
  padding: 5px;
  display: inline;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 2px;
}

.chart_row:first-child > div > p {
  top: 10px;
}
.chart_row_second > div > p {
  bottom: 10px;
}

.data_wrapper {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #3878a2;
  transform: translate(-50%, -50%);
}
.data_wrapper p {
  position: absolute;
  left: 15px;
  top: 15px;
  font-family: sans-serif;
  font-size: 12px;
  color: #3878a2;
  font-weight: 700;
}
